.header {
        height: 958px;
        background: url("../images/banner.png") no-repeat center center/cover;
}
.about {
        &--hr {
                width: 384px;
                margin: 0 auto 28px auto;
                border-bottom: 1px solid #000;
                padding-bottom: 24px;
        }
        &--iconCircle {
                &::before {
                        content: "●";
                        width: 22px;
                        color: #891818;
                        margin-right: 16px;
                        display: inline-block;
                        font-style: normal;
                }
                p {
                        display: inline-block;
                }
        }
}
.portfolio {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
}
.footer {
        a {
                text-decoration: none;
                &:hover {
                        color: yellow;
                }
        }
}
